<% provide(:title, 'Caloire Calculator') %>
<style>
table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial;
    font-size: 120%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

input[type=text] {
    width: 50%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
}

select {
    width: 50%;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 20px;
}

.grey {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.grey:hover {background-color: #e7e7e7;}

#demo {
    margin-top: 5px;
    margin-left : 5px;
    font-size: 130%;
    font-weight: bold;
}

</style>
<h1>Calorie Calculators</h1>
<p style="font-size:110%;margin-left:9px;">It can help you to calculate an estimate of how many calories you burn each day</p>
<table>
  <tr>
    <th width= "200">Age</th>
    <td width= "400">
      <input type = "text", name = age>
    </td>		
  </tr>
  <tr>
    <td><b>Gender</b></td>
    <td width= "400">
    
  <form>
    <select id="gender" name="gender">
      <option value="F">Female</option>
      <option value="M">Male</option>
    </select>
  </form>

    </td>	
  </tr>
  <tr>
    <td><b>Height</b></td>
    <td width= "400">
      <input type = "text", name = height> centimeters
    </td>		
  </tr>
  <tr>
    <td><b>Weight</b></td>
    <td width= "400">
      <input type = "text", name = weight> Kilos
    </td>		
  </tr>
  <tr>
    <td><b>Acticity Level</b></td>
    <td>
      <form>
        <select id="Acticity">
          <option value="A">sedentary</option>
          <option value="B">lightly active</option>
          <option value="C">moderately active</option>
          <option value="D">very active</option>
          <option value="E">extra active</option>
        </select>
      </form>
    </td>
  </tr>
</table>
<button class="button grey" onclick = "calculateCalories()">Calculate now</button>

<p id="demo"></p>

<p style="font-size:90%;margin-left:5px;">
  About Acticity level: <br>
  sedentary: little to no exercise.<br>
  lightly active: exercising about 1-to-3 days each week.<br>
  moderately active: exercising moderately and/or play sports 3-to-5 days.<br>
  very active: people who engage in strenuous sports or hard exercise 6-to-7 days a week.<br>
  extra active: people who engage in very physically challenging jobs or exercise, such as 2-a-day workouts.<br>
</p>


<script>
  function calculateCalories(){
    //window.alert(0);
    var age = document.getElementsByName("age")[0].value;
    //window.alert(age);
    var gender = document.getElementById("gender").value;
    //window.alert(gender);
    var height = document.getElementsByName("height")[0].value;
    //window.alert(height);
    var weight = document.getElementsByName("weight")[0].value;
    //window.alert(weight);
    var activity = document.getElementById("Acticity").value;
    //window.alert(activity);
    var heightInches = age*0.393701;
    //window.alert(heightInches);
    var weightPounds = weight*2.20462;
    //window.alert(weightPounds);
    var c;
    var BMR;
    if (age == ""){
      window.alert("Error, you need to enter your age");
    }
    if (height ==""){
      window.alert("Error, you need to enter your height");
    }
    if (weight ==""){
      window.alert("Error, you need to enter your weight");
    }
    if(gender == "F"){
      BMR = 4.7*heightInches + 4.35*weightPounds - 4.7*age + 655;
    }

    else if(gender == "M"){
      BMR = 12.7*heightInches + 6.23*weightPounds - 6.8*age + 66;
    }
    //window.alert(BMR);
    
    
    if(activity == "A"){
      c = BMR*1.2;
    }
    if(activity == "B"){
      c = BMR*1.375;
    }
    if(activity == "C"){
      c = BMR*1.55;
    }
    if(activity == "D"){
      c = BMR*1.725;
    }
    if(activity == "E"){
      c = BMR*1.9;
    }
    //window.alert(c);
    document.getElementById("demo").innerHTML = "Your energy expenditure is " + c.toFixed(3) + " calories";
    
  }
  
</script>