<% provide(:title, "Help") %>
<style>
  a.go{
      color:blue;
  }
</style>
<h1>Help</h1>
<p>
  Contact our instructor(Bobby Chan) for more help.
</p>
<a class = "go" style:"font-color = blue;" href="mailto://bobbyc@cs.sfu.ca">bobbyc@cs.sfu.ca</a>
