<div class="center jumbotron">
  <h1>IFitness</h1>

  <p>   
                                      This is the home page for the IFitness App
 </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
