<div class="center jumbotron">
  <h1>IFitness</h1>

  <p style="margin-top:30px;">   
“The five S’s of sports training are: stamina, speed, strength, skill, and spirit; </p>
    <p style="margin-top:5px;margin-bottom:30px;">but the greatest of these is <b>spirit.”</b>
– Ken Doherty
 </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
