
<% provide(:title, 'Gym Locations') %>
<h1>Find A Gym Near You</h1>

<iframe width="700" height="550" frameborder="0" style="border:0" align="middle"
src="https://www.google.com/maps/embed/v1/search?q=gym&key=AIzaSyB078CsrCUaw8mdV9z7jjT1gboBGBTWWNg" allowfullscreen></iframe>