<% provide(:title, 'Nutritional Information') %>
<style>

</style>


  <b>Herbs & Spices</b>
  <p style= "font-size:130%;">Spices and Herbs are a natural means of preventative health care.
    They not only make our food so delicious and appealing but
    these very spices come from plants whose traditional use have included have an array of medicinal phytochemicals
    to fight the effects of human disease.</p>
</p>

<ol style="font-size:130%;">
  <li>Garlic – A favourite of ours in the kitchen, Garlic is one of the oldest medicinal foods on the planet, it is a remedy for almost everything from lowering cholesterol to reducing plaque and fighting colds. It is a powerful agent for cardiovascular health and also has many anti-cancer properties!!!</li>
  <li>Ginger – Soothes an upset stomach and ends nausea. An excellent herb in battling Morning Sickness. It is a antiviral agent, boosts immune system and improves circulation.</li>
  <li>Parsley – The worlds most popular herb. It’s most used for detoxification and deodorizing, leaving you with fresh breath and rejuvenated. Also is in a select group of herbs that has the highest amount of anti-cancer properties.</li>
  <li>Oregano – Highest in antioxidant activity. Rich in Calcium, Magnesium, Zinc, Iron, Potassium, Copper, Boron, Manganese, Niacin, Vitamin C and A.</li>
  <li>Vinegar – An infusion of healthy minerals, vitamins and amino acids. Balsamic and Apple Cider are two of our favourites and unpasteurized vinegar made from apples has some great nutrient-rich minerals such as potassium, phosphorus, silicon, trace minerals, and pectin among other
  <a href = http://fitnessfoods.ca/nutritional-benefits/ style = "font-size:80%; color:blue"> 
    (from fitnessfoods.ca) </a> </li>
</ol>

  <b>Diaries</b>
</p>

<ol style="font-size:130%;">
  <li>Ghee (clarified butter) – Which means it’s basically butter with the milk solids removed. Ghee has a long and respected history as a medicinal and healing food in Indian medicine, a tradition that goes back 5,000 years. It is valued as both a nutrient and a preservative for food and medicine. It is believed to to help stimulate the healthy flow of fluids throughout the body. Also considered an important rejuvenated tonic for the mind, the brain and the nervous system.
Note – Our Ghee is from pasture-fed, organic raised cows.
</li>
  <li>Raw Cheese – Another subject that could fill a whole book, it is all about the source and quality of the cheese you choose. We use small amounts of organic, raw milk cheese. The benefits are all four fat-soluble vitamins: A, E, K and D. You will also find calcium, magnesium, zinc, selenium and folate.</li>
  <li>Organic Plain Yogurt – Many experts in health and nutrition state that all health begins in the gut. Being the site of digestion and absorption of nutrients it is where you can find the “bad” and the “good” bacteria. Yogurt is an amazing source of the “good” bacteria. They’re called probiotics and they are critical in supporting overall health. Unfortunately most of us don’t get nearly enough in there diet so a probiotic supplement is highly recommended. Some of the main benefits of yogurt include boosting your immune system, controlling inflammation, improving digestion, and it has anticancer properties. It is also a great source of protein and calcium.
  
  <a href = http://fitnessfoods.ca/nutritional-benefits/ style = "font-size:80%; color:blue"> 
    (from fitnessfoods.ca) </a> </li>
</ol>