<% provide(:title, 'Nutritional Information') %>
<style>

</style>


  <b>Herbs & Spices</b>
  <p style= "font-size:130%;">Spices and Herbs are a natural means of preventative health care.
    They not only make our food so delicious and appealing but
    these very spices come from plants whose traditional use have included have an array of medicinal phytochemicals
    to fight the effects of human disease.</p>
</p>

<ol style="font-size:130%;">
  <li>Garlic – A favourite of ours in the kitchen, Garlic is one of the oldest medicinal foods on the planet, it is a remedy for almost everything from lowering cholesterol to reducing plaque and fighting colds. It is a powerful agent for cardiovascular health and also has many anti-cancer properties!!!</li>
  <li>Ginger – Soothes an upset stomach and ends nausea. An excellent herb in battling Morning Sickness. It is a antiviral agent, boosts immune system and improves circulation.</li>
  <li>Parsley – The worlds most popular herb. It’s most used for detoxification and deodorizing, leaving you with fresh breath and rejuvenated. Also is in a select group of herbs that has the highest amount of anti-cancer properties.</li>
  <li>Oregano – Highest in antioxidant activity. Rich in Calcium, Magnesium, Zinc, Iron, Potassium, Copper, Boron, Manganese, Niacin, Vitamin C and A.</li>
  <li>Vinegar – An infusion of healthy minerals, vitamins and amino acids. Balsamic and Apple Cider are two of our favourites and unpasteurized vinegar made from apples has some great nutrient-rich minerals such as potassium, phosphorus, silicon, trace minerals, and pectin among other
  <a href = http://fitnessfoods.ca/nutritional-benefits/ style = "font-size:80%; color:blue"> 
    (from fitnessfoods.ca) </a> </li>
</ol>
