<% provide(:title, 'Nutritional Information') %>
<style>

</style>
<h1> Nutritional Information </h1>


<p style="font-size:120%;">
  <b>Herbs & Spices</b>
  <p style="font-size:120%; margin-left: 2.7em">Spices and Herbs are a natural means of preventative health care.
    They not only make our food so delicious and appealing but
    these very spices come from plants whose traditional use have included have an array of medicinal phytochemicals
    to fight the effects of human disease.</p>
</p>

<ol style="font-size:120%;">
  <li>Garlic – A favourite of ours in the kitchen, Garlic is one of the oldest medicinal foods on the planet, it is a remedy for almost everything from lowering cholesterol to reducing plaque and fighting colds. It is a powerful agent for cardiovascular health and also has many anti-cancer properties!!!</li>
  <li>Ginger – Soothes an upset stomach and ends nausea. An excellent herb in battling Morning Sickness. It is a antiviral agent, boosts immune system and improves circulation.</li>
  <li>Parsley – The worlds most popular herb. It’s most used for detoxification and deodorizing, leaving you with fresh breath and rejuvenated. Also is in a select group of herbs that has the highest amount of anti-cancer properties.</li>
  <li>Oregano – Highest in antioxidant activity. Rich in Calcium, Magnesium, Zinc, Iron, Potassium, Copper, Boron, Manganese, Niacin, Vitamin C and A.</li>
  <li>Vinegar – An infusion of healthy minerals, vitamins and amino acids. Balsamic and Apple Cider are two of our favourites and unpasteurized vinegar made from apples has some great nutrient-rich minerals such as potassium, phosphorus, silicon, trace minerals, and pectin among other
  <a href = http://fitnessfoods.ca/ style = "font-size:80%; color:blue"> 
    (from fitnessfoods.ca) </a> </li>
</ol>
<p style="font-size:120%;">
  <b>Vegetables</b>
</p>
<p style="font-size:120%; margin-left: 2.7em"> Vegetables, vegetables, and more Vegetables! Eat as many as you can, as often as you can and you will be giving yourself a real gift of health!
Icould sit here all day and tell you all the benefits of fresh, organic vegetables, but then this would be a book! If you are really interested in finding out the benefits of the vegetables you consume we suggest the book – The 150 Healthiest Foods on Earth by Jonny Bowden Ph.D., C.N.S.

If you are eating plenty of vegetables you will notice a boost in your immune system because they are loaded with nutrients, fiber and cancer fighting phytochemicals amongst a host of other things that will protect and nourish your body.

We incorporate Vegetables in every meal and they are always cooked to perfection. We often try out different one’s that most people don’t use on a regular basis so you get a wide variety of flavors.
    <a href = http://fitnessfoods.ca/ style = "font-size:80%; color:blue"> 
    (from fitnessfoods.ca) </a>
    </p>
</ol>

<p style="font-size:120%;">
    <b>Meat & Fish</b>
</p>

<ol style="font-size:120%;">
  <li>Tuna - A terrific source of protein, a single can of light tuna in water drained contains an amazing 42g of high quality protein, for under 200 calories. It also has 100% of the daily value for Niacin, 29% of the daily value of vitamin B6, and 82% of the daily value of vitamin B12. Also a vital source of selenium, one can is 200% of your daily value.</li>
  <li>Containing all 9 essential amino-acids, Shrimp is great source of protein. High in cancer-fighting selenium and vitamin D. Astaxanthin, the carotenoid pigment found in aquatic animals is said to have more effective antioxidant power then what is found in Vitamin E. And Shrimp are loaded with it!</li>
  <li>Grass Fed Meat – Since the late 1990s, a growing number of ranchers have stopped sending their animals to the feedlots to be fattened on grain, soy and other supplements. Instead, they are keeping their animals home on the range where they forage on pasture, their native diet. These new-age ranchers do not treat their livestock with hormones or feed them growth-promoting additives. As a result, the animals grow at a natural pace. For these reasons and more, grass-fed animals live low-stress lives and are so healthy there is no reason to treat them with antibiotics or other drugs. A major benefit of raising animals on pasture is that their products are healthier for you. For example, compared with feedlot meat, meat from grass-fed beef, bison, lamb and goats has less total fat, saturated fat, cholesterol, and calories. The beef “conjugated linoleic acid,” CLA, about 3 times more then grain-fed products. CLA has been long investigated for its anti-cancer activity as well as for its ability to reduce accumulation of belly fat. Grass fed beef contains much more vitamin E, beta-carotene and omega 3 fatty acids, this makes sense as grass contains far more of these nutrients then grain.
</li>
  <li>Organic, Free Range Chicken and Eggs – Free range chickens have access to the outdoors where they are able to graze for insects, worms, grass and wild plants. Because they are outside they are getting more exercise they aren’t as fat and they are happier then your chicken cooped up in a dark cubicle. They are also less likely to be pumped full of hormones and antibiotics that the poultry industry routinely uses on factory – farmed animals.
  <a href = http://fitnessfoods.ca/ style = "font-size:80%; color:blue"> 
    (from fitnessfoods.ca) </a> </li>
</ol>

  
 <p style="font-size:120%;">
  <b>Diaries</b>
</p>

<ol style="font-size:120%;">
  <li>Ghee (clarified butter) – Which means it’s basically butter with the milk solids removed. Ghee has a long and respected history as a medicinal and healing food in Indian medicine, a tradition that goes back 5,000 years. It is valued as both a nutrient and a preservative for food and medicine. It is believed to to help stimulate the healthy flow of fluids throughout the body. Also considered an important rejuvenated tonic for the mind, the brain and the nervous system.
Note – Our Ghee is from pasture-fed, organic raised cows.
</li>
  <li>Raw Cheese – Another subject that could fill a whole book, it is all about the source and quality of the cheese you choose. We use small amounts of organic, raw milk cheese. The benefits are all four fat-soluble vitamins: A, E, K and D. You will also find calcium, magnesium, zinc, selenium and folate.</li>
  <li>Organic Plain Yogurt – Many experts in health and nutrition state that all health begins in the gut. Being the site of digestion and absorption of nutrients it is where you can find the “bad” and the “good” bacteria. Yogurt is an amazing source of the “good” bacteria. They’re called probiotics and they are critical in supporting overall health. Unfortunately most of us don’t get nearly enough in there diet so a probiotic supplement is highly recommended. Some of the main benefits of yogurt include boosting your immune system, controlling inflammation, improving digestion, and it has anticancer properties. It is also a great source of protein and calcium.
  
  <a href = http://fitnessfoods.ca/ style = "font-size:80%; color:blue"> 
    (from fitnessfoods.ca) </a> </li>
</ol>