<% provide(:title, 'Rounties') %>
<style>
ol {
    padding: 20px;
}

ul {
    padding: 20px;
}

ol li {
    padding: 5px;
    margin-left: 35px;
}

ul li {
    margin: 5px;
}
</style>
<h1>Rounties</h1>
<p>
  <b>HOW TO USE CLUSTER TRAINING TO BUILD A BIGGER CHEST</b>
</p>

<ol>
  <li>Choose a compound barbell exercise that works the chest, such as a bench press, incline press, or decline press. Choose a load that allows you five reps but perform only two.</li>
  <li>Rest 10 seconds and repeat for three more mini sets. Now rest two minutes. That’s one cluster.</li>
  <li>Repeat the whole process for five total clusters. You will have done 40 total reps. Compare that with a typical prescription of three sets of five reps (for 15 total reps), and you can see how much more powerful cluster training can be without pushing you to your limit.   
  <a href = http://www.mensfitness.com/ style = "font-size:80%; color:blue"> 
    (from mensfitness.com) </a> </li>
</ol>
<p>
  <b>THE BEST LEG WORKOUT UNDER 25 MINUTES</b>
</p>
<ol>
    <li>
        Lateral Bench Jump-Overs 2x6 with two minutes between sets.
    </li>
    <li>
        Hex Bar Squat Jumps 2x5 with two minutes between sets.
    </li>
    <li>
        Snatch Grip Deadlift x8, x6, x6, x6 x4 with two minutes between sets.
    </li>
    <li>
        Sliding Leg Curl 3x6 with one minute between sets.
    </li>
    <li>
        Off-Set Racked Reverse Lunge 3x8 per leg with one minute between sets.  <a href = http://www.mensfitness.com/ style = "font-size:80%; color:blue"> 
    (from mensfitness.com) </a>
    </li>
</ol>

<p>
    <b>ABS WITHOUT CRUNCHES: MIKE VAZQUEZ'S FULL-BODY CORE WORKOUT</b>
</p>

<ol>
    <li>
        <b>CHIN-UP</b><p>
        3 sets of 15-20 reps
    </li>
    <li>
        <b>WEIGHTED CHIN-UP</b><p>
            3 sets of 4-6 reps 
    </li>
    <li>
        <b>DIAMOND PUSH-UP</b><p>3 sets of 15-20 reps
    </li>
    <li>
        <b>WEIGHTED PUSH-UP</b><p>3 sets of 4-6 reps wearing weight vest or chains (alternate: band push-up)
    </li>
    <li>
        <b>SUMO BODYWEIGHT SQUAT</b>
        <p>3 sets of 25 reps
    </li>
    <li>
        <b>DUMBBELL SUMO SQUAT</b>
        <p>3 sets of 10-12 reps
    </li>
    <li>
        <b>BODYWEIGHT WALKING LUNGE</b>
        <p>3 sets of 12 reps per leg
    </li>
    <li>
        <b>EZ-BAR WALKING LUNGE</b>
        <p>3 sets of 12 per leg
    </li>
    <li>
        <b>BURPEE</b>
        <p>3 min., resting as little as possible
    </li>
    <li>
        <b>SPRINT</b>
        <p>3 rounds of 400 meters  <a href = http://www.bodybuilding.com/ style = "font-size:80%; color:blue"> 
    (from bodybuilding.com) </a>
    </li>
</ol>
