<% provide(:title, 'Rounties') %>
<style>

</style>
<h1>Rounties</h1>
<p style="font-size:130%;">
  <b>HOW TO USE CLUSTER TRAINING TO BUILD A BIGGER CHEST</b>
</p>

<ol style="font-size:130%;">
  <li>Choose a compound barbell exercise that works the chest, such as a bench press, incline press, or decline press. Choose a load that allows you five reps but perform only two.</li>
  <li>Rest 10 seconds and repeat for three more mini sets. Now rest two minutes. That’s one cluster.</li>
  <li>Repeat the whole process for five total clusters. You will have done 40 total reps. Compare that with a typical prescription of three sets of five reps (for 15 total reps), and you can see how much more powerful cluster training can be without pushing you to your limit.   
  <a href = http://www.mensfitness.com/ style = "font-size:80%; color:blue"> 
    (from mensfitness.com) </a> </li>
</ol>
<p style="font-size:130%;">
  <b>THE BEST LEG WORKOUT UNDER 25 MINUTES</b>
</p>
<ol style="font-size:130%;">
    <li>
        Lateral Bench Jump-Overs 2x6 with two minutes between sets.
    </li>
    <li>
        Hex Bar Squat Jumps 2x5 with two minutes between sets.
    </li>
    <li>
        Snatch Grip Deadlift x8, x6, x6, x6 x4 with two minutes between sets.
    </li>
    <li>
        Sliding Leg Curl 3x6 with one minute between sets.
    </li>
    <li>
        Off-Set Racked Reverse Lunge 3x8 per leg with one minute between sets.  <a href = http://www.mensfitness.com/ style = "font-size:80%; color:blue"> 
    (from mensfitness.com) </a>
    </li>
</ol>

<p style="font-size:130%;">
    <b>ABS WITHOUT CRUNCHES: MIKE VAZQUEZ'S FULL-BODY CORE WORKOUT</b>
</p>

<ol style="font-size:130%;">
    <li>
        CHIN-UP<p>
        3 sets of 15-20 reps
    </li>
    <li>
        WEIGHTED CHIN-UP<p>
            3 sets of 4-6 reps 
    </li>
    <li>
        DIAMOND PUSH-UP<p>3 sets of 15-20 reps
    </li>
    <li>
        WEIGHTED PUSH-UP<p>3 sets of 4-6 reps wearing weight vest or chains (alternate: band push-up)
    </li>
    <li>
        SUMO BODYWEIGHT SQUAT
        <p>3 sets of 25 reps
    </li>
    <li>
        DUMBBELL SUMO SQUAT
        <p>3 sets of 10-12 reps
    </li>
    <li>
        BODYWEIGHT WALKING LUNGE
        <p>3 sets of 12 reps per leg
    </li>
    <li>
        EZ-BAR WALKING LUNGE
        <p>3 sets of 12 per leg
    </li>
    <li>
       BURPEE
        <p>3 min., resting as little as possible
    </li>
    <li>
        SPRINT
        <p>3 rounds of 400 meters  <a href = http://www.bodybuilding.com/ style = "font-size:80%; color:blue"> 
    (from bodybuilding.com) </a>
    </li>
</ol>
