%h1 IFitness Forum

#posts
	- @posts.each do |post|
		.post
			%h2.title= link_to post.title, post
			%p.date
				created
				= time_ago_in_words(post.created_at)
				ago by
				= post.user
				
= link_to "New Post", new_post_path