<footer class="footer">
  <small>
    IFitness By Group 15</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help",    help_path %></li>
      <li><a href="http://www.cs.sfu.ca/CourseCentral/276/bobbyc/">News</a></li>
    </ul>
  </nav>
</footer>